Flask~=3.0.3
Flask-SQLAlchemy~=3.1.1
psycopg2~=2.9.9
SQLAlchemy~=2.0.31
sentry_sdk~=2.10.0
flask-caching~=2.3.0
gunicorn~=23.0.0
google-auth-httplib2~=0.2.0
google-auth-oauthlib~=1.2.1
google-api-python-client~=2.146.0
